body {
    text-align: center;
}

#notes {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    display: table;
   
}

#stats {
    margin-top: 20px;
}

button {
    width: 40px;
}

button:focus {
    outline: none;
    box-shadow:none;
    border-color:transparent;
    background-color: white;
}

button:active {
    outline: none;
    box-shadow:none;
    border-color:transparent;
}

button:visited {
    outline: none;
    box-shadow:none;
    border-color:transparent;
}

button:checked {
    outline: none;
    box-shadow:none;
    border-color:transparent;
}

